<!DOCTYPE html>
<html lang="en">
<head>
  @views.html.commoncss.render("О нас")
</head>

<body class="page-about">

  <div class="wrapper">

    @views.html.base_top.render

    <main class="clearfix">

      <div class="main-title">
        <h1 class="main-heading">О нас</h1>
      </div>

      <img src="@routes.Assets.versioned("img/about.jpg")" alt="About hotel">
      <h2>Отель Екатерина</h2>
      <p>
      Наш отель в Одессе располагает 16 элегантными и просторными номерами для гостей, в том числе двумя просторными Семейными номерами.
      </p>
      <p>
      Интерьеры отличаются теплым, уютным декором. Каждый номер сохранил свою оригинальность.
      Все номера гостиницы декорированы в различных цветовых гаммах и оборудованы по лучшим стандартам, которые только могут предложить отели Одессы.
      В каждом из них имеется элегантный вход, удобная двух спальная кровать, оформленная ванная комната с комплектом банных принадлежностей, а так же и гостиной зоной для расслабляющего отдыха гостей.
      </p>
      <p>
      Стильный декор и комфортабельная меблировка каждого номера являются изящным отражением гостеприимства.
      </p>
      <h2>Отель в центре Одессы</h2>

      <h3>Каждый номер гостиницы оборудован в соответствии с мировыми стандартами:</h3>
      <ul>
          <li>Система климат-контроля "Daikin"</li>
          <li>Телефон</li>
          <li>Wi-Fi Интернет</li>
          <li>Плазменный телевизор</li>
          <li>Кабельное телевидение</li>
          <li>Мини-бар</li>
          <li>Мини-сейф</li>
      </ul>

      <dl>
          <dt>Для вашего комфортного пребывания в каждом номере есть дополнительные удобства:</dt>

          <di>Банный халат</di>
          <di>Тапочки</di>
          <di>Набор махровых полотенец</di>
          <di>Фен</di>
          <di>Косметический набор для душа</di>
          <di>В распоряжении клиентов круглосуточный отдел регистрации.</di>
          <di>Ежедневная уборка номеров.</di>
          <di>Стоянка автомашины – 40 грн. в сутки</di>
      </dl>

      <p>
          Мы готовы дарить своим гостям самые роскошные условия для отдыха, самый предупредительный сервис в атмосфере абсолютного спокойствия и уединения,
          лучшие цены на апартаменты в Одессе.
      </p>
      <p>
          Пребывание в отеле "Екатерина" оставит незабываемые впечатления, и Вам непременно захочется возвращаться к нам и снова осуществлять бронирование гостиниц.
      </p>

      <h2>Отель Екатерина II</h2>

      <p>Вашему вниманию представится прекрасно освещенный холл с мраморной парадной лестницей, который сочетает в себе классические традиции и современный стиль, все это создает атмосферу торжественности. Отель обеспечен надежной охраной и системами наружного видеонаблюдения. В отеле установлен лифт Schindler, который обеспечит движение с низким уровнем шума, и это позволит вам ехать вверх и вниз в тишине и покое.</p>

      <ul>
        <li>все номера оснащены современной удобной мебелью (2-х спальная кровать или две раздельные односпальные кровати с прикроватными тумбочками)</li>
        <li>стол с 2-мя креслами</li>
        <li>шкаф</li>
        <li>мини-бар</li>
        <li>холодильник</li>
        <li>плазменный LCD телевизор</li>
        <li>эфирное и цифровое IP телевидение</li>
        <li>бесконтактные ключи-карты</li>
        <li>телефон</li>
        <li>сейф</li>
        <li>туалетные принадлежности (шампунь, гель для душа, шапочка)</li>
      </ul>

      <p>Все номера оснащены системой кондиционирования.</p>

      <p>Гостиница оборудована системой центрального пылеудаления.</p>

      <p>Отель оборудован системой пожарной сигнализации и автоматической системой пожаротушения, шумоизоляция номеров. Все общественные и бытовые помещения отеля оснащены новейшей системой видеонаблюдения и находятся под постоянным видеоконтролем службы безопасности отеля.</p>

      <p>Главное отличие отеля «Екатерина II» – это высокий уровень сервиса, теплое отношение персонала отеля к гостям, их радушие, гостеприимство и любезность все это надолго останется в памяти каждого из наших гостей гостя.</p>

      <p>Отель «Екатерина II» рад приветствовать Вас в своих гостеприимных, по-домашнему радушных и уютных стенах.</p>

    </main>

  </div>

  @views.html.base_bottom.render(false)

</body>
</html>
