<!DOCTYPE html>
<html lang="en">
<head>
  @views.html.commoncss.render("Блог")
</head>

<body class="page-blog">

  <div class="wrapper">

    @views.html.base_top.render

    <main class="clearfix">

      <div class="main-title">
        <h1 class="main-heading">Блог</h1>
      </div>

      <section class="blog-section clearfix">

        <article class="blog-article">
          <div class="article-heading-box">
            <a href="@routes.Application.post" class="article-heading-box-link"><img src="@routes.Assets.versioned("img/blog-article.jpg")" alt="article"></a>
            <div class="blog-article-details clearfix">
              <div>
                <span class="article-details-date">1 января, 2016</span>
              </div>
              <div>
                <span>Автор: </span>
                <a href="#" class="article-details-author">админ</a>
              </div>
              <div>
                <a href="#" class="article-details-comments">0 комментариев</a>
              </div>
            </div>
          </div>
          <h2><a href="@routes.Application.post">Запись в блоге</a></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum laboriosam ea impedit quidem non repellendus ex consequatur animi placeat! A quis sit fugiat vitae adipisci reiciendis eaque minima molestiae perspiciatis accusantium unde porro dicta praesentium nostrum maiores dolores, sapiente iusto amet voluptates doloribus quidem nulla corrupti. Temporibus et harum beatae quia maiores numquam aliquam tempore aspernatur quaerat. Nostrum doloribus ullam blanditiis ad voluptate architecto obcaecati molestias esse rerum ea quibusdam ex nam, nemo, aperiam dicta quas. Non dicta itaque officia quasi dolorum obcaecati atque ad aut ex voluptate quae quia error maiores libero, maxime laboriosam possimus tenetur. Aspernatur, laborum, explicabo.</p>
          <a href="@routes.Application.post" class="btn-read">Читать</a>
        </article>

        <article class="blog-article">
          <div class="article-heading-box">
            <a href="@routes.Application.post" class="article-heading-box-link"><img src="@routes.Assets.versioned("img/blog-article.jpg")" alt="article"></a>
            <div class="blog-article-details clearfix">
              <div>
                <span class="article-details-date">1 января, 2016</span>
              </div>
              <div>
                <span>Автор: </span>
                <a href="#" class="article-details-author">админ</a>
              </div>
              <div>
                <a href="#" class="article-details-comments">0 комментариев</a>
              </div>
            </div>
          </div>
          <h2><a href="@routes.Application.post">Запись в блоге</a></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum laboriosam ea impedit quidem non repellendus ex consequatur animi placeat! A quis sit fugiat vitae adipisci reiciendis eaque minima molestiae perspiciatis accusantium unde porro dicta praesentium nostrum maiores dolores, sapiente iusto amet voluptates doloribus quidem nulla corrupti. Temporibus et harum beatae quia maiores numquam aliquam tempore aspernatur quaerat. Nostrum doloribus ullam blanditiis ad voluptate architecto obcaecati molestias esse rerum ea quibusdam ex nam, nemo, aperiam dicta quas. Non dicta itaque officia quasi dolorum obcaecati atque ad aut ex voluptate quae quia error maiores libero, maxime laboriosam possimus tenetur. Aspernatur, laborum, explicabo.</p>
          <a href="#" class="btn-read">Читать</a>
        </article>

        <article class="blog-article">
          <div class="article-heading-box">
            <a href="@routes.Application.post" class="article-heading-box-link"><img src="@routes.Assets.versioned("img/blog-article.jpg")" alt="article"></a>
            <div class="blog-article-details clearfix">
              <div>
                <span class="article-details-date">1 января, 2016</span>
              </div>
              <div>
                <span>Автор: </span>
                <a href="#" class="article-details-author">админ</a>
              </div>
              <div>
                <a href="#" class="article-details-comments">0 комментариев</a>
              </div>
            </div>
          </div>
          <h2><a href="@routes.Application.post">Запись в блоге</a></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum laboriosam ea impedit quidem non repellendus ex consequatur animi placeat! A quis sit fugiat vitae adipisci reiciendis eaque minima molestiae perspiciatis accusantium unde porro dicta praesentium nostrum maiores dolores, sapiente iusto amet voluptates doloribus quidem nulla corrupti. Temporibus et harum beatae quia maiores numquam aliquam tempore aspernatur quaerat. Nostrum doloribus ullam blanditiis ad voluptate architecto obcaecati molestias esse rerum ea quibusdam ex nam, nemo, aperiam dicta quas. Non dicta itaque officia quasi dolorum obcaecati atque ad aut ex voluptate quae quia error maiores libero, maxime laboriosam possimus tenetur. Aspernatur, laborum, explicabo.</p>
          <a href="@routes.Application.post" class="btn-read">Читать</a>
        </article>

        <div class="pagination-box">
          <ul>
            <li class=active><a href=#><span>1</span></a></li>
            <li><a href=#><span>2</span></a></li>
            <li><a href=#><span>3</span></a></li>
            <li><a href=#><span>4</span></a></li>
            <li><a href=#><span>5</span></a></li>
          </ul>
        </div>

      </section>

      <aside class="blog-aside">
        <div class="blog-aside-box list">
          <h3>Архив</h3>
          <ul>
            <li><a href="#">Запись</a></li>
            <li><a href="#">Запись</a></li>
            <li><a href="#">Запись</a></li>
            <li><a href="#">Запись</a></li>
            <li><a href="#">Запись</a></li>
            <li><a href="#">Запись</a></li>
          </ul>
        </div>
        <div class="blog-aside-box list">
            <h3>Категории</h3>
          <ul>
            <li><a href="#">Запись</a></li>
            <li><a href="#">Запись</a></li>
            <li><a href="#">Запись</a></li>
            <li><a href="#">Запись</a></li>
            <li><a href="#">Запись</a></li>
            <li><a href="#">Запись</a></li>
          </ul>
        </div>
        <div class="blog-aside-box tags">
          <h3>Теги</h3>
          <ul>
            <a href="#" class="btn-read tag">тег</a>
            <a href="#" class="btn-read tag">тег</a>
            <a href="#" class="btn-read tag">тег</a>
            <a href="#" class="btn-read tag">тег</a>
            <a href="#" class="btn-read tag">тег</a>
            <a href="#" class="btn-read tag">тег</a>
            <a href="#" class="btn-read tag">тег</a>
            <a href="#" class="btn-read tag">тег</a>
          </ul>
        </div>
      </aside>

    </main>

  </div>

  @views.html.base_bottom.render(false)

</body>
</html>
