@import ecat.model.ops.CategoryOps._

@(c: Category, h: Hotel)(implicit req: play.api.mvc.RequestHeader)

<div class="category clearfix" data-catId=@c.get('id) data-hash=@c.get('tariffGroups).hashCode data-hotelId=@h.get('id)>

  <h3 class="category-heading">@c.get('name)</h3>

  <div class="category-detail">

      <div class="category-image">

        <img src='@routes.Assets.versioned("img/room.jpg")' alt="image">
      </div>

    <div class="category-gallery">
      <ul>
        <li data-thumb="@routes.Assets.versioned("img/category/1.jpg")" data-src="@routes.Assets.versioned("img/category/1.jpg")"><img src="@routes.Assets.versioned("img/category/1.jpg")" alt=""></li>
        <li data-thumb="@routes.Assets.versioned("img/category/2.jpg")" data-src="@routes.Assets.versioned("img/category/2.jpg")"><img src="@routes.Assets.versioned("img/category/2.jpg")" alt=""></li>
        <li data-thumb="@routes.Assets.versioned("img/category/3.jpg")" data-src="@routes.Assets.versioned("img/category/3.jpg")"><img src="@routes.Assets.versioned("img/category/3.jpg")" alt=""></li>
        <li data-thumb="@routes.Assets.versioned("img/category/4.jpg")" data-src="@routes.Assets.versioned("img/category/4.jpg")"><img src="@routes.Assets.versioned("img/category/4.jpg")" alt=""></li>
        <li data-thumb="@routes.Assets.versioned("img/category/5.jpg")" data-src="@routes.Assets.versioned("img/category/5.jpg")"><img src="@routes.Assets.versioned("img/category/5.jpg")" alt=""></li>
        <li data-thumb="@routes.Assets.versioned("img/category/6.jpg")" data-src="@routes.Assets.versioned("img/category/6.jpg")"><img src="@routes.Assets.versioned("img/category/6.jpg")" alt=""></li>
        <li data-thumb="@routes.Assets.versioned("img/category/7.jpg")" data-src="@routes.Assets.versioned("img/category/7.jpg")"><img src="@routes.Assets.versioned("img/category/7.jpg")" alt=""></li>
      </ul>
    </div>

      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque iusto earum mollitia, facere perferendis odit tempore architecto suscipit soluta! Beatae!
      </p>

      <div class="category-roomOptions">
        <i class="flaticon-airconditioner"></i>
        <i class="flaticon-bath21"></i>
        <i class="flaticon-beauty1"></i>
        <i class="flaticon-drink110"></i>
        <i class="flaticon-clothing275"></i>
        <i class="flaticon-clothing685"></i>
        <i class="flaticon-tv14"></i>
        <i class="flaticon-moneybox"></i>
      </div>

  </div>

  <div class="options">

    <div class="option option-guest" data-guest=@c.get('id)>

      <span class="option-description">Кол-во людей:</span>

      <div class="option-data option-data-select">
        <select data-guestscnt=@c.get('id) name="guest">
          @for(guest <- 1 to maxGuestCnt(c,1)) {
            <option value=@guest>@guest</option>
          }
        </select>
      </div>

    </div>
    
    @if(maxAddGuestCnt(c,1) > 0) {
       <div class="option option-add-guest">
        <span class="option-description">Доп место:</span>
        <div class="option-data option-data-select">
          <select name="addGuest" data-addguests=@maxAddGuestCnt(c,1)>
            @for(guest <- 1 to maxAddGuestCnt(c,1)) {
              <option value=@guest>@guest</option>
            }
          </select>
        </div>
      </div>
    } else {
      <div class="option option-add-guest option-add-guest-hidden">
        <span class="option-description">Доп место:</span>
        <div class="option-data option-data-select">
          <select name="addGuest">
          </select>
        </div>
      </div>
    }

    <div class="option option-early">
      <span class="option-description">Заезд:</span>
      <div class="option-data option-data-eci">
        <input data-eci type="text" name="timepicker" class="timepicker" value=@h.get('checkInTime)>
      </div>
      <span class="eci">Ранний заезд</span>
    </div>

    <div class="option option-late">
      <span class="option-description">Выезд:</span>
      <div class="option-data option-data-lco">
        <input data-lco type="text" name="timepicker" class="timepicker" value=@h.get('checkOutTime)>
      </div>
      <span class="lco">Поздний выезд</span>
    </div>


    <div class="option option-breakfast">
      <label for="breakfast" class="option-description">Завтрак:</label>
      <div class="option-data option-data-checkbox">
        <input id="breakfast" data-breakfast type="checkbox">
      </div>
    </div>

    <div class="option option-rooms">

      <label for="room_count" class="option-description">Кол-во номеров:</label>

      <div class="option-data option-data-select">

        <select data-roomcnt name="room_count">
          @for(room <- 1 to c.get('rooms).size) {
            <option value=@room>@room</option>
          }
        </select>

      </div>

    </div>

  </div>

  <form>

    <div class="tariffs">
      <div class="tariffs-btn">
      <span></span>
      </div>
      <h2>Тарифы</h2>

      @for(tg <- c.get('tariffGroups)) {
      
      @views.html.pages.tariffs.render(tg.get('name), {tg.get('overalPrices).get('room) / 100})
      
      }

    </div>

  </form>

  <div class="category-result clearfix">

    <div class="category-result-addToOrder">
      <span>Выбрать</span>
      <input type="checkbox">
    </div>

  </div>

</div>
