@import  ecat.model.{Category, Prices}
@(c: Category, h: String)(implicit req: play.api.mvc.RequestHeader)

<div class="category clearfix" data-catId=@c.id data-hash=@c.hashCode data-hotelId=@h>

  <h3 class="category-heading">@c.name</h3>

  <div class="category-detail">

      <div class="category-image">

        <img src='@routes.Assets.versioned("img/room.jpg")' alt="image">
      </div>

    <div class="category-gallery">
      <ul>
        <li data-thumb="@routes.Assets.versioned("img/category/1.jpg")" data-src="@routes.Assets.versioned("img/category/1.jpg")"><img src="@routes.Assets.versioned("img/category/1.jpg")" alt=""></li>
        <li data-thumb="@routes.Assets.versioned("img/category/2.jpg")" data-src="@routes.Assets.versioned("img/category/2.jpg")"><img src="@routes.Assets.versioned("img/category/2.jpg")" alt=""></li>
        <li data-thumb="@routes.Assets.versioned("img/category/3.jpg")" data-src="@routes.Assets.versioned("img/category/3.jpg")"><img src="@routes.Assets.versioned("img/category/3.jpg")" alt=""></li>
        <li data-thumb="@routes.Assets.versioned("img/category/4.jpg")" data-src="@routes.Assets.versioned("img/category/4.jpg")"><img src="@routes.Assets.versioned("img/category/4.jpg")" alt=""></li>
        <li data-thumb="@routes.Assets.versioned("img/category/5.jpg")" data-src="@routes.Assets.versioned("img/category/5.jpg")"><img src="@routes.Assets.versioned("img/category/5.jpg")" alt=""></li>
        <li data-thumb="@routes.Assets.versioned("img/category/6.jpg")" data-src="@routes.Assets.versioned("img/category/6.jpg")"><img src="@routes.Assets.versioned("img/category/6.jpg")" alt=""></li>
        <li data-thumb="@routes.Assets.versioned("img/category/7.jpg")" data-src="@routes.Assets.versioned("img/category/7.jpg")"><img src="@routes.Assets.versioned("img/category/7.jpg")" alt=""></li>
      </ul>
    </div>

      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eum quos cupiditate vero laborum dignissimos fuga maxime rem, sapiente, nam quo porro, ipsam autem ut illo recusandae placeat pariatur optio, quasi perspiciatis eaque totam. Recusandae autem et vel eos accusantium.
      </p>

  </div>

  <div class="options">

    <div class="option option-guest" data-guest=@c.id>

      <span class="option-description">Кол-во людей:</span>

      <div class="option-data option-data-select">
        <select data-guestscnt=@c.id name="guest">
          @for(guest <- 1 to c.maxGuestCnt(1)) {
            <option value=@guest>@guest</option>
          }
        </select>
      </div>

    </div>

    <div class="option option-add-guest">
      <span class="option-description">Доп место:</span>
      <div class="option-data option-data-select">
        <select name="addGuest">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
    </div>

    <div class="option option-early">
      <span class="option-description">Ранний заезд:</span>
      <div class="option-data option-data-eci">
        <input data-eci type="text" name="timepicker" class="timepicker">
      </div>
    </div>

    <div class="option option-late">
      <span class="option-description">Поздний выезд:</span>
      <div class="option-data option-data-lco">
        <input data-lco type="text" name="timepicker" class="timepicker">
      </div>
    </div>


    <div class="option option-breakfast">
      <label for="breakfast" class="option-description">Завтрак:</label>
      <div class="option-data option-data-checkbox">
        <input id="breakfast" data-breakfast type="checkbox">
      </div>
    </div>

    <div class="option option-rooms">

      <label for="room_count" class="option-description">Кол-во номеров:</label>

      <div class="option-data option-data-select">

        <select data-roomcnt name="room_count">
          @for(room <- 1 to c.maxRoomCnt(1)) {
            <option value=@room>@room</option>
          }
        </select>

      </div>

    </div>

  </div>

  <div class="tariffs">
    <div class="tariffs-btn">
      <span></span>
    </div>
    <h2>Тарифы</h2>

    <div class="tariff">

      <div class="tariff-heading">
        <h3>Название тарифа</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, quidem.</p>
      </div>

      <div class="tariff-rooms">
        <select name="tariff-rooms" id="tariffRooms">
          <option value="">Кол-во номеров</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>

      <div class="tariff-overall">
        <span class="tariff-price">2000 грн</span>
      </div>

    </div>

    <div class="tariff">

      <div class="tariff-heading">
        <h3>Название тарифа</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, quidem.</p>
      </div>

      <div class="tariff-rooms">
        <select name="tariff-rooms" id="tariffRooms">
          <option value="">Кол-во номеров</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>

      <div class="tariff-overall">
        <span class="tariff-price">2000 грн</span>
      </div>

    </div>

    <div class="tariff">

      <div class="tariff-heading">
        <h3>Название тарифа</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, quidem.</p>
      </div>

      <div class="tariff-rooms">
        <select name="tariff-rooms" id="tariffRooms">
          <option value="">Кол-во номеров</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>

      <div class="tariff-overall">
        <span class="tariff-price">2000 грн</span>
      </div>

    </div>

    <div class="tariff">

      <div class="tariff-heading">
        <h3>Название тарифа</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, quidem.</p>
      </div>

      <div class="tariff-rooms">
        <select name="tariff-rooms" id="tariffRooms">
          <option value="">Кол-во номеров</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>

      <div class="tariff-overall">
        <span class="tariff-price">2000 грн</span>
      </div>

    </div>

  </div>

  <div class="category-result clearfix">

    <div class="category-result-price">
      <span class="flaticon-coin32"></span>
      <span data-price=@Prices.fromLong(c.prices.room)>@Prices.fromLong(c.prices.room)</span><span> грн</span>
    </div>

    <div class="category-result-addToOrder">
      <span>Выбрать</span>
      <input type="checkbox">
    </div>

  </div>

</div>
