@import  ecat.model.{Category, Prices}
@(c: Category, h: String)(implicit req: play.api.mvc.RequestHeader)

<div class="category-item clearfix" data-catId=@c.id data-hash=@c.hashCode data-hotelId=@h>

  <h3 class="category-item__heading">@c.name</h3>

  <div class="category-item__detail">

      <div class="category-item__image">

        <img src='@routes.Assets.versioned("img/room.jpg")' alt="image">
      </div>

    <div class="category-item__gallery">
      <ul>
        <li data-thumb="@routes.Assets.versioned("img/category/1.jpg")" data-src="@routes.Assets.versioned("img/category/1.jpg")"><img src="@routes.Assets.versioned("img/category/1.jpg")" alt=""></li>
        <li data-thumb="@routes.Assets.versioned("img/category/2.jpg")" data-src="@routes.Assets.versioned("img/category/2.jpg")"><img src="@routes.Assets.versioned("img/category/2.jpg")" alt=""></li>
        <li data-thumb="@routes.Assets.versioned("img/category/3.jpg")" data-src="@routes.Assets.versioned("img/category/3.jpg")"><img src="@routes.Assets.versioned("img/category/3.jpg")" alt=""></li>
        <li data-thumb="@routes.Assets.versioned("img/category/4.jpg")" data-src="@routes.Assets.versioned("img/category/4.jpg")"><img src="@routes.Assets.versioned("img/category/4.jpg")" alt=""></li>
        <li data-thumb="@routes.Assets.versioned("img/category/5.jpg")" data-src="@routes.Assets.versioned("img/category/5.jpg")"><img src="@routes.Assets.versioned("img/category/5.jpg")" alt=""></li>
        <li data-thumb="@routes.Assets.versioned("img/category/6.jpg")" data-src="@routes.Assets.versioned("img/category/6.jpg")"><img src="@routes.Assets.versioned("img/category/6.jpg")" alt=""></li>
        <li data-thumb="@routes.Assets.versioned("img/category/7.jpg")" data-src="@routes.Assets.versioned("img/category/7.jpg")"><img src="@routes.Assets.versioned("img/category/7.jpg")" alt=""></li>
      </ul>
    </div>

      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eum quos cupiditate vero laborum dignissimos fuga maxime rem, sapiente, nam quo porro, ipsam autem ut illo recusandae placeat pariatur optio, quasi perspiciatis eaque totam. Recusandae autem et vel eos accusantium.
      </p>

  </div>

  <div class="options">

    <div class="options__item options__item--guest" data-guest=@c.id>

      <span class="options__item__description">Кол-во людей:</span>

      <div class="options__item__data options__item__data--select">
        <select data-guestscnt=@c.id name="guest">
          @for(guest <- 1 to c.maxGuestCnt(1)) {
            <option value=@guest>@guest</option>
          }
        </select>
      </div>

    </div>

    <div class="options__item options__item--add-guest">
      <span class="options__item__description">Дополнительное место:</span>
      <div class="options__item__data options__item__data--select">
        <select name="addGuest">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
    </div>

    <div class="options__item options__item--early">
      <span class="options__item__description">Ранний заезд:</span>
      <div class="options__item__data options__item__data--eci">
        <input data-eci type="text" name="timepicker" class="timepicker">
      </div>
    </div>

    <div class="options__item options__item--late">
      <span class="options__item__description">Поздний выезд:</span>
      <div class="options__item__data options__item__data--lco">
        <input data-lco type="text" name="timepicker" class="timepicker">
      </div>
    </div>


    <div class="options__item options__item--breakfast">
      <label for="breakfast" class="options__item__description">Завтрак:</label>
      <div class="options__item__data options__item__data--checkbox">
        <input data-breakfast type="checkbox">
      </div>
    </div>

    <div class="options__item options__item--rooms">

      <label for="room_count" class="options__item__description">Кол-во номеров:</label>

      <div class="options__item__data options__item__data--select">

        <select data-roomcnt name="room_count">
          @for(room <- 1 to c.maxRoomCnt(1)) {
            <option value=@room>@room</option>
          }
        </select>

      </div>

    </div>

  </div>

  <div class="category__item_result clearfix">

    <div class="category__item__result--price">
      <span class="flaticon-coin32"></span>
      <span data-price=@Prices.fromLong(c.prices.room)>@Prices.fromLong(c.prices.room)</span><span> грн</span>
    </div>

    <div class="category__item__result--add-to-order">
      <span>Выбрать</span>
      <input type="checkbox">
    </div>

  </div>

</div>
