<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Новости</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../icon/flaticon.css">
  <link rel="stylesheet" href="../js/lightGallery/css/lightgallery.css">
  <link rel="stylesheet" href="../css/style.css">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="page-news">

  <div class="wrapper">

    <div class="header-main-wrapper">

      <header class="header-main">
        <a href="../index.html" class="logo">
          <span class="logo-first-word">Отель</span>
          <span class="logo-second-word">Екатерина</span>
          <span class="stars">
            <i class="flaticon-favourites7 star-1"></i>
            <i class="flaticon-favourites7 star-2"></i>
            <i class="flaticon-favourites7 star-3"></i>
            <i class="flaticon-favourites7 star-4"></i>
            <i class="flaticon-favourites7 star-5"></i>
          </span>
        </a>

        <nav class="header-main-menu">
          <ul>
            <li class="sub-menu menu-item-1">
              <a href="#">Отели</a>
              <ul>
                <li><a href="hotels/ekaterina/ekaterina.html">Екатерина</a></li>
                <li><a href="hotels/ekaterina2/ekaterina2.html">Екатерина II</a></li>
              </ul>
            </li>
            <li><a href="reservation.html">Бронирование</a></li>
            <li><a href="gallery.html">Галерея</a></li>
            <li><a href="blog.html">Блог</a></li>
            <li class="menu-center"></li>
            <li><a class="current" href="news.html">Новости</a></li>
            <li><a href="promo.html">Акции</a></li>
            <li><a href="about.html">О нас</a></li>
            <li class="menu-item-last"><a href="contacts.html">Контакты</a></li>
          </ul>
        </nav>

        <div class="main-menu-handle">
          <span></span>
        </div>

      </header>

    </div>

    <main class="clearfix">

      <div class="main-title">
        <h1 class="main-heading">Новости</h1>
      </div>

      <div class="news-row clearfix">
        <article class="news-article">
          <div class="news-pic">
            <img src="../img/news.jpg" alt="news image">
            <div class="news-pic-details">
              <span class="pic-details-date">1 января - 2 января</span>
              <a href="news-pages/event.html" class="btn-read">Читать</a>
            </div>
          </div>
          <div class="news-description">
            <h2><span>Новое</span> событие</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, dignissimos libero pariatur explicabo, saepe debitis, assumenda deserunt rem, fugiat neque non maiores! Molestiae cum rerum dicta, voluptatem sed alias facere est consequuntur a similique officia.</p>
          </div>
        </article>

        <article class="news-article">
          <div class="news-pic">
            <img src="../img/news.jpg" alt="news image">
            <div class="news-pic-details">
              <span class="pic-details-date">1 января - 2 января</span>
              <a href="news-pages/event.html" class="btn-read">Читать</a>
            </div>
          </div>
          <div class="news-description">
            <h2><span>Новое</span> событие</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, dignissimos libero pariatur explicabo, saepe debitis, assumenda deserunt rem, fugiat neque non maiores! Molestiae cum rerum dicta, voluptatem sed alias facere est consequuntur a similique officia.</p>
          </div>
        </article>
      </div>

      <div class="news-row clearfix">
        <article class="news-article">
          <div class="news-pic">
            <img src="../img/news.jpg" alt="news image">
            <div class="news-pic-details">
              <span class="pic-details-date">1 января - 2 января</span>
              <a href="news-pages/event.html" class="btn-read">Читать</a>
            </div>
          </div>
          <div class="news-description">
            <h2><span>Новое</span> событие</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, dignissimos libero pariatur explicabo, saepe debitis, assumenda deserunt rem, fugiat neque non maiores! Molestiae cum rerum dicta, voluptatem sed alias facere est consequuntur a similique officia.</p>
          </div>
        </article>

        <article class="news-article">
          <div class="news-pic">
            <img src="../img/news.jpg" alt="news image">
            <div class="news-pic-details">
              <span class="pic-details-date">1 января - 2 января</span>
              <a href="news-pages/event.html" class="btn-read">Читать</a>
            </div>
          </div>
          <div class="news-description">
            <h2><span>Новое</span> событие</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, dignissimos libero pariatur explicabo, saepe debitis, assumenda deserunt rem, fugiat neque non maiores! Molestiae cum rerum dicta, voluptatem sed alias facere est consequuntur a similique officia.</p>
          </div>
        </article>
      </div>

      <div class="pagination-box">
        <ul>
          <li class=active><a href=#><span>1</span></a></li>
          <li><a href=#><span>2</span></a></li>
          <li><a href=#><span>3</span></a></li>
          <li><a href=#><span>4</span></a></li>
          <li><a href=#><span>5</span></a></li>
        </ul>
      </div>

    </main>

  </div>

  <footer class="main-footer">

    <div class="scroll-up"></div>

    <ul class="main-footer-items">
      <li><span>г. Одесса</span></li>
      <li><span>Екатерининская площадь, 7б</span></li>
      <li><a data-iframe="true" id="google-map" href="https://mapsengine.google.com/map/embed?mid=zLbUWxUdmidU.kdS1hB_bB-kw">Показать на карте</a></li>
      <li><a href="comment.html">Оставить отзыв</a></li>
    </ul>

    <div class="social-icons">
      <a href="#" class="flaticon-facebook55"></a>
      <a href="#" class="flaticon-vk3"></a>
      <a href="#" class="flaticon-twitter1"></a>
    </div>

  </footer>

  <script src="../js/jquery-1.12.0.min.js"></script>
  <script src="../js/jquery.scroolly.min.js"></script>
  <script src="../js/lightGallery/js/lightgallery.min.js"></script>
  <script src="../js/lightGallery/js/lg-thumbnail.min.js"></script>
  <script src="../js/lightGallery/js/lg-fullscreen.min.js"></script>
  <script src="../js/main.js"></script>

</body>
</html>
