@import  ecat.model.Hotel

@(hotels: Seq[Hotel])


<div class="reservation-hotel">
    
  @for(hotel <- hotels) {
  
    <h2>@hotel.name</h2>
  
    @for(category <- hotel.categories) {
          
      <h3>@category.name</h3>
          
      @for(room <- category.numbers) {
      
        <div class="reservation-hotel-row clearfix">
            
          <img src="@routes.Assets.versioned("img/room.jpg")" alt="room">
            <ul class="reservartion-hotel-detail room-equipment">
              <li>
                <span class="">Номер:</span>
                <div>
                  <span class="room-number">@room.number</span>
                </div>
              </li>
              <li>
                <span class="">Кол-во людей:</span>
                <div>
                  <span class="room-number">@room.guestsCnt</span>
                </div>
              </li>
              <li>
                <span class="">Твин</span>
                <div>
                @if(room.twin) {
                  <span class="flaticon-mark"></span>
                }
                </div>
              </li>
              <li>
                <span class="">Ванная</span>
                <div>
                  @if(room.bathroom) {
                  <span class="flaticon-mark"></span>                    
                  }
                </div>
              </li>
              <li>
                <span class="">Этаж:</span>
                <div>
                  <span class="room-number">@room.level</span>
                </div>
              </li>
            </ul>
            
        </div>
      
      }
          
    }
      
  }
    
    
</div>