<!DOCTYPE html>
<html lang="en">
<head>
  @views.html.commoncss.render("Акции")
</head>

<body class="page-promo">

  <div class="wrapper">

   @views.html.base_top.render

    <div class="slider"></div>

    <main class="main-fluid clearfix">



      <section class="main-section">

        <div class="promotion-box">
          <a href="#"><img src="@routes.Assets.versioned("img/promo.png")" alt="promo"></a>
        </div>

        <div class="promotion-box">
          <a href="#"><img src="@routes.Assets.versioned("img/promo.png")" alt="promo"></a>
        </div>

        <div class="promotion-box">
          <a href="#"><img src="@routes.Assets.versioned("img/promo.png")" alt="promo"></a>
        </div>

        <div class="promotion-box">
          <a href="#"><img src="@routes.Assets.versioned("img/promo.png")" alt="promo"></a>
        </div>

      </section>

      <div class="makeOrder">
        <h2 class="makeOrder__heading">Закажите номер</h2>
        <div class="form-col makeOrder__calendar">
          <i class="flaticon-calendar-icons"></i>
          <input type="text" id="checkIn" value="Дата заселения" readonly>
        </div>
        <div class="form-col makeOrder__calendar">
          <i class="flaticon-calendar-icons"></i>
          <input type="text" id="checkOut" value="Дата выселения" readonly>
        </div>
        <a href='#' class="makeOrder__btn" id="makeOrder__btn">Заказать</a>
      </div>

    </main>

  </div>

  @views.html.base_bottom.render(true)

</body>
</html>
