@import  ecat.util.DateTime.{pertrovichDateTimeFormatter=>fmt}

@(from:String, to:String)(implicit req: play.api.mvc.RequestHeader)

@helper.javascriptRouter("jsRoutes")(routes.javascript.Application.getDummyOffers, routes.javascript.Application.category, routes.javascript.Application.filter)

<!--move javascript router to main wrapping template -->
<!DOCTYPE html>
<html lang="en">
<head>
  @views.html.commoncss.render("Бронирование")
</head>

<body class="page-reservation">

  <div class="wrapper">

    @views.html.base_top.render

    <main class="main-fluid clearfix">

      <section class="main-section clearfix">
        
        <div class="filtering-placeholder"></div>

        <h1>Забронируйте номер</h1>
        
        <div class="filtering">

          <div class="filtering-checkIn">
            <i class="flaticon-calendar-icons"></i>
            <span>Дата заселения:</span>
            <input type="text" name="checkIn" id="checkIn" value="Дата заселения" required readonly>
          </div>

          <div class="filtering-checkOut">
            <i class="flaticon-calendar-icons"></i>
            <span>Дата выселения:</span>
            <input type="text" name="checkOut" id="checkOut" value="Дата выселения" required readonly>
          </div>

          <div class="filtering-people">
            <span>Кол-во человек:</span>
            <select name="peopleQuantity" id="peopleQuantity" required>
              <option value="1">1</option>
              <option value="2">2</option> 
            </select>
          </div>

          <div class="filtering-hotel">
            <span>Гостинница:</span>
            <select name="hotel" id="hotel" required>
              <option value="">Все</option>
              <option value="Екатерина">Екатерина</option>
              <option value="Екатерина II">Екатерина II</option>
            </select>
          </div>

          <div class="filtering-twin">
            <label for="twin">Твин</label>
            <input type="checkbox" name="twin" id="twin">
          </div>

          <div class="filtering-order">
            <input type="button" value="Заказать">
          </div>

        </div>

      </section>



    </main>

  </div>

  <script>
    var from = @from;
    var to = @to;
  </script>

  @views.html.base_bottom.render(false)

  <script src="@routes.Assets.versioned("js/reservation.js")"></script>
</body>
</html>
