@import  ecat.util.DateTime.{pertrovichDateTimeFormatter=>fmt}

@(from:String, to:String)(implicit req: play.api.mvc.RequestHeader)

@helper.javascriptRouter("jsRoutes")(routes.javascript.Application.getDummyOffers, routes.javascript.Application.category, routes.javascript.Application.filter)

<!--move javascript router to main wrapping template -->
<!DOCTYPE html>
<html lang="en">
<head>
  @views.html.commoncss.render("Бронирование")
</head>

<body class="page-reservation">

  <div class="wrapper">

    @views.html.base_top.render

    <main class="main-fluid clearfix">

      <!-- <div class="contact-box">
        <h2>Отель Екатерина</h2>
        <p>Украина, 65026, г. Одесса, ул. Греческая 25/11</p>
        <h3>Отдел бронирования:</h3>
        <p><a href="tel:+380487296701">+38 (048) 729-67-01</a></p>
        <p><a href="tel:+380671815104">+38 (067) 181-51-04</a></p>
        <h3>Рецепция:</h3>
        <p><a href="tel:+380487296703">+38 (048) 729-67-03</a></p>
        <p><a href="tel:+380487226408">+38 (048) 722-64-08</a></p>
        <p>факс: +38 (048) 729-67-08</p>
        <p><a href="mailto:booking@@hotel-ekaterina.com">Email: booking@@hotel-ekaterina.com</a></p>
        <h2>Отель Екатерина II</h2>
        <p>Украина, 65026, г. Одесса, площадь Екатерининская, 7</p>
        <h3>Отдел бронирования:</h3>
        <p><a href="tel:+380487296702">+38 (048) 729-67-02</a></p>
        <p><a href="tel:+380671815105">+38 (067) 181-51-05</a></p>
        <h3>Рецепция:</h3>
        <p><a href="tel:+380487296700">+38 (048) 729-67-00</a></p>
        <p>факс: +38 (048) 729-67-08</p>
        <p><a href="mailto:booking@@hotel-ekaterina.com">Email: booking@@hotel-ekaterina.com</a></p>
      </div> -->

      <section class="main-section clearfix">

        <h1>Забронируйте номер</h1>

        <div class="filtering">

          <div class="filtering-checkIn">
            <i class="flaticon-calendar-icons"></i>
            <span>Дата заселения:</span>
            <input type="text" name="checkIn" id="checkIn" value="Дата заселения" required readonly>
          </div>

          <div class="filtering-checkOut">
            <i class="flaticon-calendar-icons"></i>
            <span>Дата выселения:</span>
            <input type="text" name="checkOut" id="checkOut" value="Дата выселения" required readonly>
          </div>

          <div class="filtering-people">
            <span>Кол-во человек:</span>
            <select name="peopleQuantity" id="peopleQuantity" required>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>

          <div class="filtering-hotel">
            <span>Гостинница:</span>
            <select name="hotel" id="hotel" required>
              <option value="">Все</option>
              <option value="Екатерина">Екатерина</option>
              <option value="Екатерина II">Екатерина II</option>
            </select>
          </div>

          <div class="filtering-twin">
            <label for="twin">Твин</label>
            <input type="checkbox" name="twin" id="twin">
          </div>

          <div class="filtering-order">
            <input type="button" value="Заказать">
          </div>

        </div>

        <!-- <form action="#" class="filtering clearfix" id="filterBlock">

          <fieldset>
            <div class="booking-row clearfix">

              <div class="form-col">
                <label for="checkIn">Дата заселения <i class="flaticon-calendar-icons"></i></label>
                <input type="text" name="checkIn" id="checkIn" value="Дата заселения" required readonly>
              </div>

              <div class="form-col">
                <label for="checkOut">Дата выселения <i class="flaticon-calendar-icons"></i></label>
                <input type="text" name="checkOut" id="checkOut" value="Дата выселения" required readonly>
              </div>

              <div class="form-col">
                <label for="peopleQuantity">Кол-во человек</label>
                <select name="peopleQuantity" id="peopleQuantity" required>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>

              <div class="form-col">
                <label for="hotel">Отель</label>
                <select name="hotel" id="hotel" required>
                  <option value="">Все</option>
                  <option value="Екатерина">Екатерина</option>
                  <option value="Екатерина II">Екатерина II</option>
                </select>
              </div>

              <div class="form-col">
                <label for="twin">Твин</label>
                <input type="checkbox" name="twin" id="twin">
              </div>

              <div class="form-col">
                <div class="submit-button">
                  <input type="submit" value="Заказать">
                </div>
              </div>

            </div>

          </fieldset>

        </form> -->

      </section>



    </main>

  </div>

  <script>
    var from = @from;
    var to = @to;
  </script>

  @views.html.base_bottom.render(false)

  <script src="@routes.Assets.versioned("js/reservation.js")"></script>
</body>
</html>
