@import  ecat.util.DateTime.{pertrovichDateTimeFormatter=>fmt}

@(from:String, to:String)(implicit req: play.api.mvc.RequestHeader)

@helper.javascriptRouter("jsRoutes")(routes.javascript.Application.getDummyOffers, routes.javascript.Application.category, routes.javascript.Application.filter)

<!--move javascript router to main wrapping template -->
<!DOCTYPE html>
<html lang="en">
<head>
  @views.html.commoncss.render("Бронирование")
</head>

<body class="page-reservation">

  <div class="wrapper">

    @views.html.base_top.render

    <main class="main-fluid clearfix">

      <section class="main-section clearfix">
        
        <div class="filtering-placeholder"></div>

        <h1>Забронируйте номер</h1>
        
        <div class="filtering">

          <div class="filtering-checkIn">
            <i class="flaticon-calendar-icons"></i>
            <span>Дата заселения:</span>
            <input type="text" name="checkIn" id="checkIn" value="Дата заселения" required readonly>
          </div>

          <div class="filtering-checkOut">
            <i class="flaticon-calendar-icons"></i>
            <span>Дата выселения:</span>
            <input type="text" name="checkOut" id="checkOut" value="Дата выселения" required readonly>
          </div>

          <div class="filtering-people">
            <span>Кол-во человек:</span>
            <select name="peopleQuantity" id="peopleQuantity" required>
              <option value="1">1</option>
              <option value="2">2</option> 
            </select>
          </div>

          <div class="filtering-hotel">
            <span>Гостинница:</span>
            <select name="hotel" id="hotel" required>
              <option value="">Все</option>
              <option value="Екатерина">Екатерина</option>
              <option value="Екатерина II">Екатерина II</option>
            </select>
          </div>

          <div class="filtering-twin">
            <label for="twin">Твин</label>
            <input type="checkbox" name="twin" id="twin">
          </div>

          <div class="filtering-order">
            <input type="button" value="Заказать">
          </div>

        </div>

      </section>



    </main>

    <section class="summary">
      <div class="summary-info">
        <div class="summary-hotel">
          <ul class="summary-categories">
            <h4 class="summary-category-info-hotel">Hotel 1</h4>          
            <li class="summary-category">
              <h3>Категория "Люкс"</h3>
              <ul class="summaru-category-info">
                <li>Количество людей: 2</li>
                <li>Дополнительное место: 1</li>
                <li>Завтрак: включен</li>
                <li>Заезд: 12:00</li>
                <li>Выезд: 10:30</li>
                <li>Количество номеров: 2</li>
                <li>Тариф: офигительный</li>
              </ul>
              <span>Цена: </span><span class="summary-category-price">3000 грн</span>
            </li>
            <li class="summary-category">
              <h3>Категория "Люкс"</h3>
              <ul class="summaru-category-info">
                <li>Количество людей: 2</li>
                <li>Дополнительное место: 1</li>
                <li>Завтрак: включен</li>
                <li>Заезд: 12:00</li>
                <li>Выезд: 10:30</li>
                <li>Количество номеров: 2</li>
                <li>Тариф: офигительный</li>
              </ul>
              <span>Цена: </span><span class="summary-category-price">3000 грн</span>
            </li>
            <li class="summary-category">
              <h3>Категория "Люкс"</h3>
              <ul class="summaru-category-info">
                <li>Количество людей: 2</li>
                <li>Дополнительное место: 1</li>
                <li>Завтрак: включен</li>
                <li>Заезд: 12:00</li>
                <li>Выезд: 10:30</li>
                <li>Количество номеров: 2</li>
                <li>Тариф: офигительный</li>
              </ul>
              <span>Цена: </span><span class="summary-category-price">3000 грн</span>
            </li>
          </ul>
        </div>

        
        <div class="summary-order">
          <a href="#" class="summary-order-btn">Order now!</a>
        </div>
      </div>
    </section>

  </div>

  <script>
    var from = @from;
    var to = @to;
  </script>

  @views.html.base_bottom.render(false)

  <script src="@routes.Assets.versioned("js/reservation.js")"></script>
</body>
</html>
