@import ecat.model.ops.PricesOps.calcPrice
@(tgs: Seq[TariffGroup], eci: Boolean , lco: Boolean)


<form>
  
  @for(tg <- tgs) {
      
  <div data-tariff-name=@{tg.get('name).replaceAll("\\s", "")} class="tariff" data-hash=@tgs.hashCode>

    <div class="tariff-heading">
      <h3>@tg.get('name)</h3>
      <ul class="tariff-list">
        <li>возможен возврат</li>
      </ul>
    </div>

    <div class="tariff-overall">
      <i class="flaticon-coin32"></i>
      <input type="number" name="tariff-price" readonly value=@{
        calcPrice(
          p = tg.get('overalPrices),
          guestCnt = 1,
          addGuestsCnt = 1,
          bkf = false,
          twin = false,
          eci = eci,
          lco = lco
        ).toLong
      } class="tariff-price">
    </div>

    <input class="tariff-radio" type="radio" name="tariff-btn" @if(tg.get('name) == "ПРОЖИВАНИЕ") { checked }>

  </div>
      
  }
  
</form>

