@(tgs: Seq[TariffGroup])

<form>
  
  @for(tg <- tgs) {
      
  <div data-tariff-name=@{tg.get('name).replaceAll("\\s", "")} class="tariff" data-hash=@tgs.hashCode>

    <div class="tariff-heading">
      <h3>@tg.get('name)</h3>
      <ul class="tariff-list">
        <li>возможен возврат</li>
      </ul>
    </div>

    <div class="tariff-overall">
      <i class="flaticon-coin32"></i>
      <input type="number" name="tariff-price" readonly value=@{tg.get('overalPrices).get('room) / 100} class="tariff-price">
    </div>

    <input class="tariff-radio" type="radio" name="tariff-btn" @if(tg.get('name) == "ПРОЖИВАНИЕ") { checked }>

  </div>
      
  }
  
</form>

