    /*
    Flaticon icon font: Flaticon
    Creation date: 07/04/2016 15:17
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-airconditioner:before { content: "\f100"; }
.flaticon-baby127:before { content: "\f101"; }
.flaticon-baby139:before { content: "\f102"; }
.flaticon-baby54:before { content: "\f103"; }
.flaticon-bath21:before { content: "\f104"; }
.flaticon-bathing2:before { content: "\f105"; }
.flaticon-bathtub3:before { content: "\f106"; }
.flaticon-beauty1:before { content: "\f107"; }
.flaticon-bed33:before { content: "\f108"; }
.flaticon-bedroom16:before { content: "\f109"; }
.flaticon-bedroom2:before { content: "\f10a"; }
.flaticon-bedroom4:before { content: "\f10b"; }
.flaticon-beds8:before { content: "\f10c"; }
.flaticon-black:before { content: "\f10d"; }
.flaticon-calendar-icons:before { content: "\f10e"; }
.flaticon-check:before { content: "\f10f"; }
.flaticon-circle:before { content: "\f110"; }
.flaticon-circle-1:before { content: "\f111"; }
.flaticon-circle-2:before { content: "\f112"; }
.flaticon-circle-3:before { content: "\f113"; }
.flaticon-circle-4:before { content: "\f114"; }
.flaticon-circle-5:before { content: "\f115"; }
.flaticon-circle-6:before { content: "\f116"; }
.flaticon-circle-7:before { content: "\f117"; }
.flaticon-clothes17:before { content: "\f118"; }
.flaticon-clothing275:before { content: "\f119"; }
.flaticon-clothing684:before { content: "\f11a"; }
.flaticon-clothing685:before { content: "\f11b"; }
.flaticon-coin32:before { content: "\f11c"; }
.flaticon-drink110:before { content: "\f11d"; }
.flaticon-facebook55:before { content: "\f11e"; }
.flaticon-favourites7:before { content: "\f11f"; }
.flaticon-hair-salon:before { content: "\f120"; }
.flaticon-hair-salon41:before { content: "\f121"; }
.flaticon-icon-31128:before { content: "\f122"; }
.flaticon-keys:before { content: "\f123"; }
.flaticon-king11:before { content: "\f124"; }
.flaticon-lotions:before { content: "\f125"; }
.flaticon-mark:before { content: "\f126"; }
.flaticon-minisplit:before { content: "\f127"; }
.flaticon-moneybox:before { content: "\f128"; }
.flaticon-people:before { content: "\f129"; }
.flaticon-phone-call41:before { content: "\f12a"; }
.flaticon-phone325:before { content: "\f12b"; }
.flaticon-plate13:before { content: "\f12c"; }
.flaticon-queen9:before { content: "\f12d"; }
.flaticon-refrigerator3:before { content: "\f12e"; }
.flaticon-restaurant26:before { content: "\f12f"; }
.flaticon-right:before { content: "\f130"; }
.flaticon-screen54:before { content: "\f131"; }
.flaticon-shower15:before { content: "\f132"; }
.flaticon-shower5:before { content: "\f133"; }
.flaticon-spa25:before { content: "\f134"; }
.flaticon-telephone90:before { content: "\f135"; }
.flaticon-telephone93:before { content: "\f136"; }
.flaticon-three:before { content: "\f137"; }
.flaticon-tool437:before { content: "\f138"; }
.flaticon-towel:before { content: "\f139"; }
.flaticon-tv14:before { content: "\f13a"; }
.flaticon-twitter1:before { content: "\f13b"; }
.flaticon-two:before { content: "\f13c"; }
.flaticon-vk3:before { content: "\f13d"; }
.flaticon-washing46:before { content: "\f13e"; }
.flaticon-wifi74:before { content: "\f13f"; }
.flaticon-window17:before { content: "\f140"; }
.flaticon-wiping7:before { content: "\f141"; }
    
    $font-Flaticon-airconditioner: "\f100";
    $font-Flaticon-baby127: "\f101";
    $font-Flaticon-baby139: "\f102";
    $font-Flaticon-baby54: "\f103";
    $font-Flaticon-bath21: "\f104";
    $font-Flaticon-bathing2: "\f105";
    $font-Flaticon-bathtub3: "\f106";
    $font-Flaticon-beauty1: "\f107";
    $font-Flaticon-bed33: "\f108";
    $font-Flaticon-bedroom16: "\f109";
    $font-Flaticon-bedroom2: "\f10a";
    $font-Flaticon-bedroom4: "\f10b";
    $font-Flaticon-beds8: "\f10c";
    $font-Flaticon-black: "\f10d";
    $font-Flaticon-calendar-icons: "\f10e";
    $font-Flaticon-check: "\f10f";
    $font-Flaticon-circle: "\f110";
    $font-Flaticon-circle-1: "\f111";
    $font-Flaticon-circle-2: "\f112";
    $font-Flaticon-circle-3: "\f113";
    $font-Flaticon-circle-4: "\f114";
    $font-Flaticon-circle-5: "\f115";
    $font-Flaticon-circle-6: "\f116";
    $font-Flaticon-circle-7: "\f117";
    $font-Flaticon-clothes17: "\f118";
    $font-Flaticon-clothing275: "\f119";
    $font-Flaticon-clothing684: "\f11a";
    $font-Flaticon-clothing685: "\f11b";
    $font-Flaticon-coin32: "\f11c";
    $font-Flaticon-drink110: "\f11d";
    $font-Flaticon-facebook55: "\f11e";
    $font-Flaticon-favourites7: "\f11f";
    $font-Flaticon-hair-salon: "\f120";
    $font-Flaticon-hair-salon41: "\f121";
    $font-Flaticon-icon-31128: "\f122";
    $font-Flaticon-keys: "\f123";
    $font-Flaticon-king11: "\f124";
    $font-Flaticon-lotions: "\f125";
    $font-Flaticon-mark: "\f126";
    $font-Flaticon-minisplit: "\f127";
    $font-Flaticon-moneybox: "\f128";
    $font-Flaticon-people: "\f129";
    $font-Flaticon-phone-call41: "\f12a";
    $font-Flaticon-phone325: "\f12b";
    $font-Flaticon-plate13: "\f12c";
    $font-Flaticon-queen9: "\f12d";
    $font-Flaticon-refrigerator3: "\f12e";
    $font-Flaticon-restaurant26: "\f12f";
    $font-Flaticon-right: "\f130";
    $font-Flaticon-screen54: "\f131";
    $font-Flaticon-shower15: "\f132";
    $font-Flaticon-shower5: "\f133";
    $font-Flaticon-spa25: "\f134";
    $font-Flaticon-telephone90: "\f135";
    $font-Flaticon-telephone93: "\f136";
    $font-Flaticon-three: "\f137";
    $font-Flaticon-tool437: "\f138";
    $font-Flaticon-towel: "\f139";
    $font-Flaticon-tv14: "\f13a";
    $font-Flaticon-twitter1: "\f13b";
    $font-Flaticon-two: "\f13c";
    $font-Flaticon-vk3: "\f13d";
    $font-Flaticon-washing46: "\f13e";
    $font-Flaticon-wifi74: "\f13f";
    $font-Flaticon-window17: "\f140";
    $font-Flaticon-wiping7: "\f141";