<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Новости | Событие</title>
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../icon/flaticon.css">
  <link rel="stylesheet" href="../../js/lightGallery/css/lightgallery.css">
  <link rel="stylesheet" href="../../css/style.css">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="page-post">

  <div class="wrapper">

    <div class="header-main-wrapper">

      <header class="header-main">
        <a href="../../index.html" class="logo">
          <span class="logo-first-word">Отель</span>
          <span class="logo-second-word">Екатерина</span>
          <span class="stars">
            <i class="flaticon-favourites7 star-1"></i>
            <i class="flaticon-favourites7 star-2"></i>
            <i class="flaticon-favourites7 star-3"></i>
            <i class="flaticon-favourites7 star-4"></i>
            <i class="flaticon-favourites7 star-5"></i>
          </span>
        </a>

        <nav class="header-main-menu">
          <ul>
            <li class="sub-menu menu-item-1">
              <a href="#">Отели</a>
              <ul>
                <li><a href="../hotels/ekaterina/ekaterina.html">Екатерина</a></li>
                <li><a href="../hotels/ekaterina2/ekaterina2.html">Екатерина II</a></li>
              </ul>
            </li>
            <li><a href="../reservation.html">Бронирование</a></li>
            <li><a href="../gallery.html">Галерея</a></li>
            <li><a href="../blog.html">Блог</a></li>
            <li class="menu-center"></li>
            <li><a class="current" href="../news.html">Новости</a></li>
            <li><a href="../promo.html">Акции</a></li>
            <li><a href="../about.html">О нас</a></li>
            <li class="menu-item-last"><a href="../contacts.html">Контакты</a></li>
          </ul>
        </nav>

        <div class="main-menu-handle">
          <span></span>
        </div>

      </header>

    </div>

    <main class="clearfix">

      <div class="main-title">
        <h1 class="main-heading">
          Событие
        </h1>

        <ul>
          <li><a href="../../index.html">Главная</a><i class="flaticon-arrow"></i></li>
          <li><a href="../news.html">Новости</a><i class="flaticon-arrow"></i></li>
          <li><a href="event.html">Событие</a></li>
        </ul>

      </div>

      <section class="blog-section clearfix">

        <article class="blog-article">
          <div class="article-heading-box">
            <a href="event.html" class="article-heading-box-link"><img src="../../img/blog-article.jpg" alt="article"></a>
            <div class="blog-article-details clearfix">
              <div>
                <span class="article-details-date">1 января, 2016</span>
              </div>
              <div>
                <span>Автор: </span>
                <a href="#" class="article-details-author">админ</a>
              </div>
              <div>
                <a href="#" class="article-details-comments">0 комментариев</a>
              </div>
            </div>
          </div>
          <h2><a href="event.html">Событие</a></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum laboriosam ea impedit quidem non repellendus ex consequatur animi placeat! A quis sit fugiat vitae adipisci reiciendis eaque minima molestiae perspiciatis accusantium unde porro dicta praesentium nostrum maiores dolores, sapiente iusto amet voluptates doloribus quidem nulla corrupti. Temporibus et harum beatae quia maiores numquam aliquam tempore aspernatur quaerat. Nostrum doloribus ullam blanditiis ad voluptate architecto obcaecati molestias esse rerum ea quibusdam ex nam, nemo, aperiam dicta quas. Non dicta itaque officia quasi dolorum obcaecati atque ad aut ex voluptate quae quia error maiores libero, maxime laboriosam possimus tenetur. Aspernatur, laborum, explicabo.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, quam non nostrum ab, aspernatur id saepe ipsum nobis recusandae veritatis pariatur at fugit, harum eos voluptas. Accusantium quod nihil quis! Suscipit reiciendis accusamus quam, doloremque ipsum quaerat excepturi temporibus modi.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus exercitationem fugit enim similique necessitatibus suscipit quam, distinctio qui aliquam neque nulla ea at consequatur, totam autem. Porro ipsam blanditiis, ad dolore quaerat quidem. Mollitia ipsum dolor eligendi, repellat architecto dolore! Sapiente, consequuntur dolores veniam facilis!</p>

          <div class="post-tags tags">
            <h3>Теги: </h3>
            <ul>
              <a href="#" class="btn-read tag">тег</a>
              <a href="#" class="btn-read tag">тег</a>
              <a href="#" class="btn-read tag">тег</a>
              <a href="#" class="btn-read tag">тег</a>
            </ul>
          </div>
        </article>

        <div class="post-comments">

          <div class="comment clearfix">
            <div class="comment-details clearfix">
              <img src="../../img/user.jpg" alt="User" class="user-img">
              <span class="user-name">Имя Фамилия</span>
              <span class="comment-date">1 янв, 2016</span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita repellat ut consequatur architecto atque laborum pariatur ullam maiores, iusto culpa ea, tempore vero quibusdam a non itaque rerum molestiae! Illo!</p>
            <a href="#" class="btn-read">Ответить</a>
          </div>

          <div class="comment clearfix">
            <div class="comment-details clearfix">
              <img src="../../img/user.jpg" alt="User" class="user-img">
              <span class="user-name">Имя Фамилия</span>
              <span class="comment-date">1 янв, 2016</span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita repellat ut consequatur architecto atque laborum pariatur ullam maiores, iusto culpa ea, tempore vero quibusdam a non itaque rerum molestiae! Illo!</p>
            <a href="#" class="btn-read">Ответить</a>

            <div class="comment clearfix">
              <div class="comment-details clearfix">
                <img src="../../img/user.jpg" alt="User" class="user-img">
                <span class="user-name">Имя Фамилия</span>
                <span class="comment-date">1 янв, 2016</span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita repellat ut consequatur architecto atque laborum pariatur ullam maiores, iusto culpa ea, tempore vero quibusdam a non itaque rerum molestiae! Illo!</p>
              <a href="#" class="btn-read">Ответить</a>
            </div>

          </div>

        </div>

        <form action="#" class="form-reply booking-form">
          <fieldset>
            <legend>Оставить отзыв</legend>
            <p>
              Поля, обозначенные "*" обязательны для заполнения
            </p>
            <div>
              <div class="form-col">
                <input type="text" name="name" placeholder="Имя *" required>
              </div>
              <div class="form-col">
                <input type="email" name="email" placeholder="Email *" required>
              </div>
            </div>
            <div>
              <div class="form-col">
                <input type="tel" name="tel" placeholder="Телефон">
              </div>
              <div class="form-col">
                <input type="text" name="website" placeholder="Вебсайт">
              </div>
            </div>
            <textarea name="message" placeholder="Сообщение *" required=""></textarea>
          </fieldset>
          <input type="submit" value="Отправить">
        </form>

        <div class="pagination-box">
          <ul>
            <li class=active><a href=#><span>1</span></a></li>
            <li><a href=#><span>2</span></a></li>
            <li><a href=#><span>3</span></a></li>
            <li><a href=#><span>4</span></a></li>
            <li><a href=#><span>5</span></a></li>
          </ul>
        </div>

      </section>

      <aside class="blog-aside">
        <div class="blog-aside-box list">
          <h3>Архив</h3>
          <ul>
            <li><a href="#">Запись</a></li>
            <li><a href="#">Запись</a></li>
            <li><a href="#">Запись</a></li>
            <li><a href="#">Запись</a></li>
            <li><a href="#">Запись</a></li>
            <li><a href="#">Запись</a></li>
          </ul>
        </div>
        <div class="blog-aside-box list">
            <h3>Категории</h3>
          <ul>
            <li><a href="#">Запись</a></li>
            <li><a href="#">Запись</a></li>
            <li><a href="#">Запись</a></li>
            <li><a href="#">Запись</a></li>
            <li><a href="#">Запись</a></li>
            <li><a href="#">Запись</a></li>
          </ul>
        </div>
        <div class="blog-aside-box tags">
          <h3>Теги</h3>
          <ul>
            <a href="#" class="btn-read tag">тег</a>
            <a href="#" class="btn-read tag">тег</a>
            <a href="#" class="btn-read tag">тег</a>
            <a href="#" class="btn-read tag">тег</a>
            <a href="#" class="btn-read tag">тег</a>
            <a href="#" class="btn-read tag">тег</a>
            <a href="#" class="btn-read tag">тег</a>
            <a href="#" class="btn-read tag">тег</a>
          </ul>
        </div>
      </aside>

    </main>

  </div>

  <footer class="main-footer">

    <div class="scroll-up"></div>

    <ul class="main-footer-items">
      <li><span>г. Одесса</span></li>
      <li><span>Екатерининская площадь, 7б</span></li>
      <li><a data-iframe="true" id="google-map" href="https://mapsengine.google.com/map/embed?mid=zLbUWxUdmidU.kdS1hB_bB-kw">Показать на карте</a></li>
      <li><a href="../comment.html">Оставить отзыв</a></li>
    </ul>

    <div class="social-icons">
      <a href="#" class="flaticon-facebook55"></a>
      <a href="#" class="flaticon-vk3"></a>
      <a href="#" class="flaticon-twitter1"></a>
    </div>

  </footer>

  <script src="../../js/jquery-1.12.0.min.js"></script>
  <script src="../../js/jquery.scroolly.min.js"></script>
  <script src="../../js/lightGallery/js/lightgallery.min.js"></script>
  <script src="../../js/lightGallery/js/lg-thumbnail.min.js"></script>
  <script src="../../js/lightGallery/js/lg-fullscreen.min.js"></script>
  <script src="../../js/main.js"></script>

</body>
</html>
