<div class="header-main-wrapper">

      <header class="header-main">
        <a href="/" class="logo">
          <span class="logo-first-word">Отель</span>
          <span class="logo-second-word">Екатерина</span>
          <span class="stars">
            <i class="flaticon-favourites7 star-1"></i>
            <i class="flaticon-favourites7 star-2"></i>
            <i class="flaticon-favourites7 star-3"></i>
            <i class="flaticon-favourites7 star-4"></i>
            <i class="flaticon-favourites7 star-5"></i>
          </span>
        </a>

        <nav class="header-main-menu">
          <ul>
            <li class="sub-menu menu-item-1">
              <a href="#">Отели</a>
              <ul>
                <li><a href="@routes.Application.ekaterina">Екатерина</a></li>
                <li><a href="@routes.Application.ekaterina2">Екатерина II</a></li>
              </ul>
            </li>
            <li><a href="@routes.Application.reservation">Бронирование</a></li>
            <li><a href="pages/gallery.html">Галерея</a></li>
            <li><a href="pages/blog.html">Блог</a></li>
            <li class="menu-center"></li>
            <li><a href="pages/news.html">Новости</a></li>
            <li><a href="pages/promo.html">Акции</a></li>
            <li><a href="pages/about.html">О нас</a></li>
            <li class="menu-item-last"><a href="pages/contacts.html">Контакты</a></li>
          </ul>
        </nav>

        <div class="main-menu-handle">
          <span></span>
        </div>

      </header>

</div>