@(title : String)

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>@title</title>
<link rel="stylesheet" href="@routes.Assets.versioned("css/normalize.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("css/icon/flaticon.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("vendor/selectric/selectric.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("vendor/datetimepicker/jquery.datetimepicker.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("vendor/vegas/vegas.min.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("vendor/lightGallery/css/lightgallery.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("css/style.css")">
<!--[if lt IE 9]>
<script src="@routes.Assets.versioned("vendor/html5shiv.min.js")"></script>
<script src="@routes.Assets.versioned("vendor/respond.min.js")"></script>
<![endif]-->
