<script src="@routes.Assets.versioned("vendor/jquery.min.js")"></script>
<script src="@routes.Assets.versioned("vendor/jquery.scroolly.min.js")"></script>
<script src="@routes.Assets.versioned("vendor/selectric/jquery.selectric.min.js")"></script>
<script src="@routes.Assets.versioned("vendor/moment.js")"></script>
<script src="@routes.Assets.versioned("vendor/jquery.hoverdir.js")"></script>
<script src="@routes.Assets.versioned("vendor/jquery.mousewheel.min.js")"></script>
<script src="@routes.Assets.versioned("vendor/datetimepicker/jquery.datetimepicker.min.js")"></script>
<script src="@routes.Assets.versioned("vendor/timepicker/jquery.timepicker.min.js")"></script>
<script src="@routes.Assets.versioned("vendor/vegas/vegas.min.js")"></script>
<script src="@routes.Assets.versioned("vendor/lightSlider/js/lightslider.min.js")"></script>
<script src="@routes.Assets.versioned("vendor/lightGallery/js/lightgallery.min.js")"></script>
<script src="@routes.Assets.versioned("vendor/lightGallery/js/lg-thumbnail.min.js")"></script>
<script src="@routes.Assets.versioned("vendor/lightGallery/js/lg-fullscreen.min.js")"></script>
<script src="@routes.Assets.versioned("js/main.js")"></script>
