<script src="@routes.Assets.versioned("js/jquery-1.12.0.min.js")"></script>
<script src="@routes.Assets.versioned("js/jquery.scroolly.min.js")"></script>
<script src="@routes.Assets.versioned("js/jquery.selectric.min.js")"></script>
<script src="@routes.Assets.versioned("js/moment.js")"></script>
<script src="@routes.Assets.versioned("js/jquery.datetimepicker.min.js")"></script>
<script src="@routes.Assets.versioned("js/vegas/vegas.min.js")"></script>
<script src="@routes.Assets.versioned("js/lightGallery/js/lightgallery.min.js")"></script>
<script src="@routes.Assets.versioned("js/lightGallery/js/lg-thumbnail.min.js")"></script>
<script src="@routes.Assets.versioned("js/lightGallery/js/lg-fullscreen.min.js")"></script>
<script src="@routes.Assets.versioned("js/main.js")"></script>