<!DOCTYPE html>
<html lang="en">
<head>
  @views.html.commoncss.render("Сеть отелей Екатерина")
</head>

<body class="page-home">

  <div class="wrapper">

    @views.html.base_top.render

    <div class="slider"></div>

    <main class="main-fluid clearfix">

      <section class="main-section">

        <div class="clearfix">
          <h1>Сеть отелей Екатерина</h1>
          <img src="@routes.Assets.versioned("img/welcome.jpg")" alt="About hotel">
          <p>
          Наш отель в Одессе располагает 16 элегантными и просторными номерами для гостей, в том числе двумя просторными Семейными номерами.
          </p>
          <p>
          Интерьеры отличаются теплым, уютным декором. Каждый номер сохранил свою оригинальность.
          Все номера гостиницы декорированы в различных цветовых гаммах и оборудованы по лучшим стандартам, которые только могут предложить отели Одессы.
          В каждом из них имеется элегантный вход, удобная двух спальная кровать, оформленная ванная комната с комплектом банных принадлежностей, а так же и гостиной зоной для расслабляющего отдыха гостей.
          </p>
          <p>
          Стильный декор и комфортабельная меблировка каждого номера являются изящным отражением гостеприимства.
          </p>
        </div>

        <h2>Отель в центре Одессы</h2>
        <!--<div class="clear clearfix"></div>-->
        <h3>Каждый номер гостиницы оборудован в соответствии с мировыми стандартами:</h3>
        <ul>
            <li>Система климат-контроля "Daikin"</li>
            <li>Телефон</li>
            <li>Wi-Fi Интернет</li>
            <li>Плазменный телевизор</li>
            <li>Кабельное телевидение</li>
            <li>Мини-бар</li>
            <li>Мини-сейф</li>
        </ul>

        <dl>
            <dt>Для вашего комфортного пребывания в каждом номере есть дополнительные удобства:</dt>

            <di>Банный халат</di>
            <di>Тапочки</di>
            <di>Набор махровых полотенец</di>
            <di>Фен</di>
            <di>Косметический набор для душа</di>
            <di>В распоряжении клиентов круглосуточный отдел регистрации.</di>
            <di>Ежедневная уборка номеров.</di>
            <di>Стоянка автомашины – 40 грн. в сутки</di>
        </dl>
        <p>
            Мы готовы дарить своим гостям самые роскошные условия для отдыха, самый предупредительный сервис в атмосфере абсолютного спокойствия и уединения,
            лучшие цены на апартаменты в Одессе.
        </p>
        <p>
            Пребывание в отеле "Екатерина" оставит незабываемые впечатления, и Вам непременно захочется возвращаться к нам и снова осуществлять бронирование гостиниц.
        </p>
      </section>

      <div class="makeOrder">
        <h2 class="makeOrder__heading">Закажите номер</h2>
        <div class="form-col makeOrder__calendar">
          <i class="flaticon-calendar-icons"></i>
          <input type="text" id="checkIn" value="Дата заселения" readonly>
        </div>
        <div class="form-col makeOrder__calendar">
          <i class="flaticon-calendar-icons"></i>
          <input type="text" id="checkOut" value="Дата выселения" readonly>
        </div>
        <a href='#' class="makeOrder__btn" id="makeOrder__btn">Заказать</a>
      </div>

    </main>

  </div>

  @views.html.base_bottom.render(true)

</body>
</html>
