<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Сеть отелей Екатерина</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="icon/flaticon.css">
  <link rel="stylesheet" href="css/selectric.css">
  <link rel="stylesheet" href="css/jquery.datetimepicker.css">
  <link rel="stylesheet" href="js/vegas/vegas.min.css">
  <link rel="stylesheet" href="js/lightGallery/css/lightgallery.css">
  <link rel="stylesheet" href="css/style.css">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="page-home">

  <div class="wrapper">

    <div class="header-main-wrapper">

      <header class="header-main">
        <a href="index.html" class="logo">
          <span class="logo-first-word">Отель</span>
          <span class="logo-second-word">Екатерина</span>
          <span class="stars">
            <i class="flaticon-favourites7 star-1"></i>
            <i class="flaticon-favourites7 star-2"></i>
            <i class="flaticon-favourites7 star-3"></i>
            <i class="flaticon-favourites7 star-4"></i>
            <i class="flaticon-favourites7 star-5"></i>
          </span>
        </a>

        <nav class="header-main-menu">
          <ul>
            <li class="sub-menu menu-item-1">
              <a href="#">Отели</a>
              <ul>
                <li><a href="pages/hotels/ekaterina/ekaterina.html">Екатерина</a></li>
                <li><a href="pages/hotels/ekaterina2/ekaterina2.html">Екатерина II</a></li>
              </ul>
            </li>
            <li><a href="pages/reservation.html">Бронирование</a></li>
            <li><a href="pages/gallery.html">Галерея</a></li>
            <li><a href="pages/blog.html">Блог</a></li>
            <li class="menu-center"></li>
            <li><a href="pages/news.html">Новости</a></li>
            <li><a href="pages/promo.html">Акции</a></li>
            <li><a href="pages/about.html">О нас</a></li>
            <li class="menu-item-last"><a href="pages/contacts.html">Контакты</a></li>
          </ul>
        </nav>

        <div class="main-menu-handle">
          <span></span>
        </div>

      </header>

    </div>

    <div class="slider"></div>

    <main class="main-fluid clearfix">

      <section class="main-section">

        <div class="clearfix">
          <h1>Сеть отелей Екатерина</h1>
          <img src="img/welcome.jpg" alt="About hotel">
          <p>
          Наш отель в Одессе располагает 16 элегантными и просторными номерами для гостей, в том числе двумя просторными Семейными номерами.
          </p>
          <p>
          Интерьеры отличаются теплым, уютным декором. Каждый номер сохранил свою оригинальность.
          Все номера гостиницы декорированы в различных цветовых гаммах и оборудованы по лучшим стандартам, которые только могут предложить отели Одессы.
          В каждом из них имеется элегантный вход, удобная двух спальная кровать, оформленная ванная комната с комплектом банных принадлежностей, а так же и гостиной зоной для расслабляющего отдыха гостей.
          </p>
          <p>
          Стильный декор и комфортабельная меблировка каждого номера являются изящным отражением гостеприимства.
          </p>
        </div>

        <h2>Отель в центре Одессы</h2>
        <!--<div class="clear clearfix"></div>-->
        <h3>Каждый номер гостиницы оборудован в соответствии с мировыми стандартами:</h3>
        <ul>
            <li>Система климат-контроля "Daikin"</li>
            <li>Телефон</li>
            <li>Wi-Fi Интернет</li>
            <li>Плазменный телевизор</li>
            <li>Кабельное телевидение</li>
            <li>Мини-бар</li>
            <li>Мини-сейф</li>
        </ul>

        <dl>
            <dt>Для вашего комфортного пребывания в каждом номере есть дополнительные удобства:</dt>

            <di>Банный халат</di>
            <di>Тапочки</di>
            <di>Набор махровых полотенец</di>
            <di>Фен</di>
            <di>Косметический набор для душа</di>
            <di>В распоряжении клиентов круглосуточный отдел регистрации.</di>
            <di>Ежедневная уборка номеров.</di>
            <di>Стоянка автомашины – 40 грн. в сутки</di>
        </dl>
        <p>
            Мы готовы дарить своим гостям самые роскошные условия для отдыха, самый предупредительный сервис в атмосфере абсолютного спокойствия и уединения,
            лучшие цены на апартаменты в Одессе.
        </p>
        <p>
            Пребывание в отеле "Екатерина" оставит незабываемые впечатления, и Вам непременно захочется возвращаться к нам и снова осуществлять бронирование гостиниц.
        </p>
      </section>

      <form action="#" class="booking-form">
        <fieldset>
          <legend>Закажите номер</legend>
          <label for="hotel">Выберите отель</label>
          <select name="hotel" id="hotel" required>
            <option value="ekaterina1">Екатерина</option>
            <option value="ekaterina2">Екатерина II</option>
          </select>
          <div class="form-col">
            <label for="checkIn">Дата заселения <i class="flaticon-calendar-icons"></i></label>
            <input type="text" name="checkIn" id="checkIn" value="Дата заселения" required readonly>
          </div>
          <div class="form-col">
            <label for="checkOut">Дата выселения <i class="flaticon-calendar-icons"></i></label>
            <input type="text" name="checkOut" id="checkOut" value="Дата выселения" required readonly>
          </div>
          <label for="roomsQuantity">Количество номеров</label>
          <select name="roomsQuantity" id="roomsQuantity" required>
            <option value="1">1</option>
            <option value="1">2</option>
            <option value="1">3</option>
            <option value="1">4</option>
          </select>
          <div class="form-col">
            <label for="room">Номер 1</label>
            <select name="room" id="room" required>
              <option value="adult-1">1 - взрослый</option>
              <option value="adult-2">2 - взрослых</option>
            </select>
          </div>
          <div class="form-col">
            <select name="child" id="child" required>
              <option value="child-1">1 - детей</option>
              <option value="child-2">2 - детей</option>
            </select>
          </div>
          <div class="submit-button">
            <input type="submit" value="">
            <span>Заказать</span>
          </div>
        </fieldset>
      </form>

    </main>

  </div>

  <footer class="main-footer">

    <div class="scroll-up"></div>

    <ul class="main-footer-items">
      <li><span>г. Одесса</span></li>
      <li><span>Екатерининская площадь, 7б</span></li>
      <li><a data-iframe="true" id="google-map" href="https://mapsengine.google.com/map/embed?mid=zLbUWxUdmidU.kdS1hB_bB-kw">Показать на карте</a></li>
      <li><a href="pages/comment.html">Оставить отзыв</a></li>
    </ul>

    <div class="social-icons">
      <a href="#" class="flaticon-facebook55"></a>
      <a href="#" class="flaticon-vk3"></a>
      <a href="#" class="flaticon-twitter1"></a>
    </div>

  </footer>

  <script src="js/jquery-1.12.0.min.js"></script>
  <script src="js/jquery.scroolly.min.js"></script>
  <script src="js/jquery.selectric.min.js"></script>
  <script src="js/moment.js"></script>
  <script src="js/jquery.datetimepicker.min.js"></script>
  <script src="js/vegas/vegas.min.js"></script>
  <script src="js/lightGallery/js/lightgallery.min.js"></script>
  <script src="js/lightGallery/js/lg-thumbnail.min.js"></script>
  <script src="js/lightGallery/js/lg-fullscreen.min.js"></script>
  <script src="js/main.js"></script>
  <script>

    $(window).load(function () {

      var $document = $(document),
          $body     = $('body'),
          $slider   = $('.slider');

      if ($body.width() >= 720 && !$slider.hasClass('vegas-container')) {
        $slider.height($document.height() - 256);
          $slider.vegas({
              slides: [
                  { src: 'img/slides/1.jpg' },
                  { src: 'img/slides/2.jpg' },
                  { src: 'img/slides/3.jpg' },
                  { src: 'img/slides/4.jpg' }
            ]
          });
      }

      $(this).resize(function () {
        $slider.height($document.height() - 256);
        if ($body.width() >= 720 && !$slider.hasClass('vegas-container')) {
            $slider.vegas({
                slides: [
                    { src: 'img/slides/1.jpg' },
                    { src: 'img/slides/2.jpg' },
                    { src: 'img/slides/3.jpg' },
                    { src: 'img/slides/4.jpg' }
              ]
            });
        }
      })

    });

  </script>

</body>
</html>
