<script>

    $(window).load(function () {

      var $document = $(document),
          $body     = $('body'),
          $slider   = $('.slider');

      if ($body.width() >= 720 && !$slider.hasClass('vegas-container')) {
        $slider.height($document.height() - 256);
          $slider.vegas({
              slides: [
                  { src: '@routes.Assets.versioned("img/slides/1.jpg")' },
                  { src: '@routes.Assets.versioned("img/slides/2.jpg")' },
                  { src: '@routes.Assets.versioned("img/slides/3.jpg")' },
                  { src: '@routes.Assets.versioned("img/slides/4.jpg")' },
            ]
          });
      }

      $(this).resize(function () {
        $slider.height($document.height() - 256);
        if ($body.width() >= 720 && !$slider.hasClass('vegas-container')) {
            $slider.vegas({
                slides: [
                  { src: '@routes.Assets.versioned("img/slides/1.jpg")' },
                  { src: '@routes.Assets.versioned("img/slides/2.jpg")' },
                  { src: '@routes.Assets.versioned("img/slides/3.jpg")' },
                  { src: '@routes.Assets.versioned("img/slides/4.jpg")' },
              ]
            });
        }
      })

    });

</script>