<!DOCTYPE html>
<html lang="en">
<body>
<form NAME="back" ACTION=notify_url METHOD="POST">
    <INPUT TYPE="HIDDEN" NAME="Version" VALUE="1">
    <INPUT TYPE="HIDDEN" NAME="MerchantID" VALUE="6352045">
    <INPUT TYPE="HIDDEN" NAME="TerminalID" VALUE="ECI62791">
    <INPUT TYPE="HIDDEN" NAME="TotalAmount" VALUE="12550">
    <INPUT TYPE="HIDDEN" NAME="Currency" VALUE="980">
    <INPUT TYPE="HIDDEN" NAME="SD" VALUE="584sds565hgj76GGjh6756248">
    <INPUT TYPE="HIDDEN" NAME="OrderID" VALUE="VHS-23684">
    <INPUT TYPE="HIDDEN" NAME="XID" VALUE="00005021611-000064-1">
    <INPUT TYPE="HIDDEN" NAME="ApprovalCode" VALUE="554632">
    <INPUT TYPE="HIDDEN" NAME="Rrn" VALUE="775333567770">
    <INPUT TYPE="HIDDEN" NAME="ProxyPan" VALUE="0000000000005207">
    <INPUT TYPE="HIDDEN" NAME="TranCode" VALUE="000">
    <INPUT TYPE="HIDDEN" NAME="Signature" VALUE="45F345Fafde4455445Gvb550">
    <input type="submit" value="Submit">

</form>
</body>
</html>